<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h1>
        Nova Tarefa
      </h1>
    </div><!-- /.page-header -->
    <form class="form" action="/" method="post">
      <div class="form-group">
        <label>Titulo:</label>
        <input class="form-control" type="text" class="form-group" name="title">
      </div>
      <button class="btn btn-primary btn-block">Criar</button>
    </form>
  </div>
</div><!-- /.container -->